body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
label, input{
  display: block;
}
input,select{
  margin-bottom: 16px;
}
.info-row, .info-container {
  display:flex;
}
.info-row{
  flex: 1;
}
.label{
  font-weight:bold;
  margin-right: 8px;
  color: black;
}
.info-container{
  gap: 16px;
}
.name-row {
  font-size: 20px;
}
.card p {
  margin:6px;
}
.card{
  border: 2px solid #999;
  border-radius: 8px;
  max-width: 400px;
  padding: 16px
}
.title{
  display:flex;
  justify-content:center;
  font-family: Broadway;
  font-size: 25px;
}
.address-text p{
  padding:0;
  margin:0;
}
.address-text p:first-child{
  margin-top: 6px;
}
.address-text p:last-child{
  margin-bottom: 6px;
}

.card.permium{
  border: 2px solid gold;
  color: goldenrod;
  background-color: lightgrey;
}
.card.standard{
  border: 2px solid #999;
  color: violet;
  background-color: rebeccapurple;
}
.card.bronze{
  border:2px solid peru;
  color:darkgoldenrod;
  background-color:#714740;
}